# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating system files
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
.env

# Large raw dataset cached locally
data/raw/credit_risk_dataset.csv
